@media (max-width: 600px) {
    .gameBoards {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .boardGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .board {
        justify-content: center;
    }
    
    .controls{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .shipsBox {
        width: 90%; /* Prevents it from stretching too much */
        justify-content: center;
    }
}

.anchor {
    background-color: lightblue !important;
}

.highlight {
    background-color: lightblue !important;
}

.title{
    border: 1px dotted white;
    background-color: black;
    color: #00E626;

    font-size: 7px;
    display: flex;
    justify-content: center;
    padding: 10px;
}



div {
    border: 1px dotted grey
}

button {
    font-size: 10px;
    text-align: center;

    border: 1px dotted white;
    background-color: black;
    color: white;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}


form {
    display: flex;
}

body{
    background-color: black;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: 1px dotted white;
    background-color: black;
    color: #00E626;

    padding: 10px;
}

.name{
    display: flex;
    justify-content: center;

    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.boardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px dotted white;
    background-color: black;
    color: #00E626;
}

.board1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

} 

.board2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

} 

.cell{
    display: flex;
    height: 25px;
    width: 30px;
    justify-content: center;
    align-items: center;

    border: 1px dotted white;
    background-color: black;
    color: white;
}

.cell:hover {
    background-color: #ddd;
    cursor: pointer;
}


.gameBoards {
    display: flex;
    justify-content: space-around;
    flex-wrap: 1;
    padding: 10px;

    border: 1px dotted white;
    background-color: black;
    color: #00E626;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    border: 1px dotted white;
    background-color: black;
    color: #00E626;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ship {
    border: 1px dotted white;
    background-color: black;
    color: #00E626;
}

.commandLine{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;

    border: 1px dotted white;
    background-color: black;
    color: white;
}

.messages{
    display: flex;
}

.ships{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.shipName{
    display: flex;
    justify-content: center;
}

.shipsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.health{
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 2px;

    border: 1px dotted white;
    background-color: black;
    color: #00E626;
}

.healthBox {
    background-color: green;
    height: 20px;
    width: 50px;

    border: 1px dotted white;
    color: #00E626;
}

#promptLine{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.message {
    display: flex;
    padding: 5px;

    font-size: 15px;

    border: 1px dotted white;
    background-color: black;
    color: #00E626;
}

.hit{
    background-color: rgb(255, 99, 99);
    color: black;
}

.miss {
    background-color: rgb(126, 126, 255);
    color: black;
}

.shipSquare {
    background-color: rgb(145, 255, 145);
    color: black;
}

.footer {
    border: 1px dotted white;
    background-color: black;
    color: #00E626;

    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

a {
    display: flex;
    border: 1px dotted white;
    background-color: white;
    color: #00E626;

    height: 1.5rem;
    border-radius: 50px;
    vertical-align: center;
    justify-content: center;
}

form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 2px;
}

input#answer{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: right;

    background-color: white;
    color: black;
}

input#submit{
    border: 1px dotted white;
    background-color: black;
    color: white;
}

button#control1{
    height: 25px;
    width: 100px;

    padding: 2px;
}

button#control2{
    height: 25px;
    width: 100px;

    padding: 2px;
}